<html>
  <head>
    <link rel="stylesheet" media="screen" href="web_guesser.css" />
  </head>
  <body>
    <h1> <%= message %> </h1>
    <form>
      <input id="empty-box" autofocus="autofocus" type='text' name='guess' />

      <input id="submit-click-box" type='submit' value='Submit!' />
    </form>
  </body>
</html>